/* You can add global styles to this file, and also import other style files */
@import "bootstrap";
@import "bootstrap/dist/css/bootstrap-grid.min.css";
@import "js-year-calendar/dist/js-year-calendar.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "bootstrap/dist/css/bootstrap.min.css";
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: cornflowerblue;
  background: radial-gradient(circle, cornflowerblue 0%, #94bbe9 100%);
}

mat-card {
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
}

mat-table, mat-header-cell, mat-cell, input {
  background: cornflowerblue;
  background: radial-gradient(circle, cornflowerblue 0%, #94bbe9 100%);
}
