.calendar-card {
  margin: 20px;
  max-width: 600px;
  text-align: center;
}

.text-center {
  text-align: center;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.calendarHeader {
  display: flex;
  align-items: center;
  gap: 8px;
}
